# TP1 - 3A GCGEO 2024-2025

## 1 Prise en main de Python

### 1.1 Les types de données

Python est un langage de programmation interprété. Cela signifie que l'interpréteur doit être lancé pour exécuter le code. Dans les boîtes qui suivent, on peut taper du code en langage Python. Il est possible de demander l'exécution de ce code en cliquant sur le bouton "exécuter" en haut (run cell).

Pour commencer, exécuter la ligne suivante qui permet d'initialiser les bibliothèques

In [ ]:
%matplotlib inline

from math import *

Puis exécuter les exemples suivant.

In [ ]:
1 + 2 + 3

6

In [ ]:
2 * pi / 3

2.0943951023931953

In [ ]:
(1 + 2 + 3 + 4 + 5) / 5

3.0

In [ ]:
sqrt(2)

1.4142135623730951

In [ ]:
exp(3)

20.085536923187668

In [ ]:
exp(log(2))

2.0

Nous utiliserons les types de données suivants :

-   int
-   float
-   complex
-   boolean
-   list

### 1.1.1 Les entiers

Ce type contient la représentation d'un nombre entier relatif. On noter que l'opérateur de division euclidienne se note `//`.

In [ ]:
type(3)

int

In [ ]:
1 // 2

0

**Exercice** : calculer la somme des 10 premiers entiers non nuls.

In [ ]:
s = sum([i for i in range(1,11)])
print(s)

55

### 1.1.2 Les flottants

Ce type contient la représentation d'un nombre réel. La différence avec un `int` tient dans la présence d'un séparateur décimal: le point "`.`"

In [ ]:
type(1.5)

float

La plupart des opérateurs vont convertir en `float` leurs opérandes entières lorsque l'une au moins des opérandes est flottante. La division (non euclidienne) le fait dans tous les cas, même si les deux opérandes sont entières.

In [ ]:
1 / 2

0.5

In [ ]:
1 + 2.0

3.0

In [ ]:
3.0 * 5

15.0

Lorsque le nombre est très petit ou au contraire très grand, il sera affiché en notation scientifique. Le symbole `e` signifie "*... fois dix puissance ...*".

In [ ]:
0.000000000000001

1e-15

In [ ]:
100000000000000000.

1e+17

**Exercice**: calculer $\sum\limits_{k=5}^{10}k^2\cdot10^k$.

In [ ]:
# Ecrire ici !

Enfin, lorsqu'on effectue certains calculs dont le résultat est non défini, Python peut renvoyer deux valeurs particulières qui ne correspondent à aucun nombre réel : `nan` (*not a number*) et `inf` (*infinity*).

In [ ]:
sqrt(-1)

ValueError: math domain error

In [ ]:
1e1000

In [ ]:
type(inf)

### 1.1.3 Les nombres complexes

Python fournit également un type pour les calculs avec des nombres complexes. Un nombre complexe se note sous la forme `a + bj` où `a` `b` sont l'écriture de nombres flottants. Ici, `j` désigne le nombre complexe qu'on note $i$ en mathématiques.

**Attention** : `j` écrit tout seul n'est pas égal au nombre complexe $i$. Il faut écrire `1j`.

In [ ]:
1j

In [ ]:
type(1 + 2j)

In [ ]:
1j * 1j

In [ ]:
exp(1j * pi) + 1

On peut calculer le module, la partie réelle ou imaginaire ou encore le conjugué d'un nombre complexe.

In [ ]:
abs(3 - 4j)

In [ ]:
(2 + 3j).real

In [ ]:
(2 + 3j).imag

In [ ]:
conj(2 + 3j)

**Exercice** : calculer la valeur de $(1+i)(1+2i)(1+3i)(1+4i)$.

In [ ]:
# Ecrire ici !

### 1.1.4 Les booléens

Le type booléen ne peut prendre que deux valeurs: `True` ou `False` (attention à la majuscule). En programmation, on l'utilise pour tester si une condition est vérifiée ou non.

**Attention** : pour tester si deux nombres sont égaux, on doit utiliser l'opérateur double signe égal `==`.

In [ ]:
0 = 0

In [ ]:
0 == 1

In [ ]:
1.0000 == 1

**Exercice** : parmi les nombres 7642661 et 7642663, lequel est divisible par 13?

In [ ]:
# Ecrire ici !

### 1.1.5 Les listes

Une liste est une suite de valeurs séparées par des virgules et entourée par des crochets `[` et `]`. Les valeurs à l'intérieur d'une liste peuvent être de types différents. On peut également mettre des listes dans une liste, mais attention à bien respecter la ponctuation et les crochets ...

In [ ]:
type([1, 2, 3])

In [ ]:
[1, 0.5, 1+3j, True]

In [ ]:
[[1, 2, 3], [4, 5, 6]]

Une liste peut être vide. On récupère le nombre d'éléments d'une liste grâce à la fonction `len`.

In [ ]:
len([])

In [ ]:
len([1, 2, 0, 7])

Les opérateurs `+` et `*` prennent un autre sens lorsqu'on les utilise avec des listes.

In [ ]:
[1, 2, 3] + [4, 5, 6] + [7, 8]

In [ ]:
[3, 7] * 5

**Exercice** : créer la liste des valeurs prises par $(-1)^k$ pour $k$ variant de 0 à 100.

In [ ]:
# Ecrire ici !

## 1.2 Les opérateurs

On a déjà vu les opérateurs `+`, `-`, `*`, `/`. Il en existe d'autres :

-   `a ** b` pour calculer $a^b$
-   `a % b` pour calculer le reste de la division euclidienne de `a` par `b`
-   `a or b` pour tester si une condition **ou** une autre est vérifiée
-   `a and b` pour tester si une condition **et** une autre est vérifiée
-   `a <= b` pour tester si $a\leq b$ (ainsi que `<`, `>`, `>=`)
-   `a != b` pour tester si $a\neq b$

**Exercice**: créer la liste des 6 premières puissances de 2.

In [ ]:
# Ecrire ici !

**Exercice** : le nombre 1710608 est-il un multiple de 11 et de 17 ?

In [ ]:
# Votre code ici !

**Exercice** : le nombre 1710608 est-il un multiple de 11 ou de 17 ?

In [ ]:
# Votre code ici !

## 1.3 Les fonctions courantes

Voici quelques-unes des fonctions proposées par Python. Nous en rencontrerons d'autres par la suite.

-   Fonctions numériques :
    -   `sin`, `cos`, `tan`
    -   `sqrt`, `abs`
    -   `exp`, `log`
-   Fonctions spécifiques aux listes :
    -   `len`
    -   `range([min], max, [step])` génère la liste des nombres de `min` à `max` en avançant de `step`. Les arguments entre crochets sont optionnels. S'ils ne sont pas spécifiés, par défaut `min` vaudra 0 et `step` vaudra 1.
    
        **Attention** :

        -   le `max` est à prendre au sens strict, c'est à dire que la liste s'arrêtera toujours avant.
        -   la fonction `range` renvoie un type spécial qui n'est pas à proprement parler une liste. Pour obtenir réellement une liste, il faut écrire `list(range(...))`.

In [ ]:
range(5)

In [ ]:
list(range(5))

In [ ]:
list(range(3, 7))

In [ ]:
list(range(5, 0, -1))

**Exercice** : créer la liste des entiers de 0 à 20 (inclus) dans l'ordre décroissant.

In [ ]:
# Ecrire ici !

**Exercice** : créer la liste des 20 premiers entiers impairs.

In [ ]:
# Ecrire ici !

Il faut également mentionner la fonction `print` qui permet d'afficher le résultat d'un calcul. Jusqu'ici, on avait constaté que seul le résultat du dernier calcul était affiché. Avec `print`, on peut en afficher autant que désiré.

In [ ]:
print(1+2)
print(3 * 3 == 9)
print([1, 2, 3, 4])
print(1, 2, 3, 4)

## 1.4 Les variables

Une variable est référencée par son nom, qui doit commencer par une lettre suivie de zéro ou plusieurs caractères alphanumériques. Exemples : `x`, `test32`, `v2x`.

On *affecte* une valeur à une variable à l'aide de l'opérateur `=`. Une fois qu'une variable a été affectée, on peut l'utiliser dans les calculs.

**Attention** : Python fait la différence entre majuscules et minuscules. Par exemple, les noms `a` et `A` représentent des variables différentes.

In [ ]:
x = 4
y = 2

print(x / y)
print(x ** y)
print(x > y)

Losqu'une liste est affectée à une variable, il est possible de la modifier grâce aux fonctions suivantes :

-   `list.append(element)` pour ajouter un élément supplémentaire à la fin d'une liste
-   `list.insert(index, element)` pour insérer un élément à une position donnée dans la liste
    
    **Attention** : en Python, l'index du premier élément d'une liste est zéro. Pour insérer un élément en début de liste, il faudra donc prendre `index=0`.
-   `list.pop(index)` pour enlever un élément à la liste. Si `index` n'est pas spécifié, ce sera le dernier élément.

In [ ]:
l = []
l.append(13)
l = l + [2, 3, 4]
l.append(7)
print(l)

l.pop(3)
print(l)

**Exercice** : générer la liste des entiers de 0 à 40 qui ne sont pas multiples de 13

In [ ]:
# Ecrire ici !

Les variables de type `list` ont une autre particularité. On peut accéder à un élément à une position donnée en utilisant des crochets :

-   pour utiliser sa valeur dans une expression,
-   ou pour le modifier avec avec l'opérateur `=`.

Là encore, on prendra garde au fait que les éléments sont numérotés en partant de zéro.

In [ ]:
l = [1, 2, 3, 4]

l[1] = 5
print(l)

l[3] = l[0]
print(l)

# 2 Programmer en Python

## 2.1 Les structures de contrôle `if`, `for` et `while`

### 2.1.1 Branchement conditionnel `if`

La syntaxe d'un `if` est la suivante :

    if condition:
        #Code à effectuer si la condition est vérifiée
    else:
        #Code à effectuer si la condition n'est pas vérifiée

La clause `else` n'est pas obligatoire, dans certains cas on n'en aura pas besoin.

**Important** : en Python, tout ce qui se situe à l'intérieur d'un bloc introduit par `:` (c'est le cas de ce qui suit un `if` ou un `else` par exemple) doit impérativement être décalé vers la droite de 4 espaces supplémentaires. Il est **primordial** de respecter cette règle, sinon vos programmes ne fonctionneront pas correctement.

**Exercice** : modifier la valeur stockée dans la variable `x` à la première ligne du programme qui suit pour comprendre ce qu'il fait.

In [ ]:
# Ecrire ici !

### 2.1.2 Boucle `for`

La syntaxe d'une boucle `for` est la suivante:

    for variable in list:
        #Code à répéter

**Exercice** : comprendre ce que fait le code suivant.

In [ ]:
for k in range(10):
    print(k)

**Exercice** : modifier le programme précédent pour qu'il n'affiche que des chiffres pairs.

In [ ]:
# Ecrire ici !

**Exercice** : afficher les 10 premières puissances de 3.

In [ ]:
# Ecrire ici !

**Exercice** : soit la liste `l` suivante:

    l = [1, -13, -15, 9, -5, 18, 32, -7]

Afficher tous les éléments de l qui sont négatifs.

In [ ]:
l = [1, -13, -15, 9, -5, 18, 32, -7]

In [ ]:
# Ecrire ici !

Le code itératif suivant permet de créer une liste (ici la liste des racines des 10 premiers entiers).

**Important** : cet exemple est à comprendre et à retenir, on utilisera fréquemment des constructions similaires par la suite.

In [ ]:
l = []
for n in range(10):
    l.append(sqrt(n))
print(l)

**Exercice** : Soit la suite $u_n=n^2 - n + 1$ pour $n\geq 0$. Stocker dans la variable `U` la liste contenant les 50 premières valeurs de $u_n$.

In [ ]:
# Ecrire ici !

### 2.1.3 Boucle `while`

La syntaxe est la suivante:

    while condition:
        #Instructions à répéter jusqu'à ce que la condition ne soit plus remplie

**Exercice**: comprendre ce que fait le code suivant:

In [ ]:
x = 64
while x > 0:
    x = x // 2
    print(x)

**Attention** : on prendra garde à ce que la condition testée s'arrête au bout d'un nombre fini d'itérations. Dans le cas contraire, le programme continue indéfiniment, on parle alors de boucle infinie. Si cela se produit, on peut interrompre l'exécution du programme à l'aide du menu "*Kernel*" -> "*Interrupt*" ou "*Kernel*" -> "*Restart*".

In [ ]:
x = 0
while x == 0:
    x = 0

**Exercice** : trouver le premier entier $k\geq 0$ tel que $k^2-5k+6>10000$.

In [ ]:
# Ecrire ici !